*{
 margin: 0;
 padding: 0;
}
body{
  background-color: black;
}
.all{
  background-image: url(Background.png);
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
.f ul{
    width: 140px !important;
}
li{
  list-style: none;
}
i{
    gap: 10px;
}
a{
  text-decoration: none;
}
.q{
  width: 180px;
  gap: 10px;
}
.all h1{
  font-size: 70px;
}
i{
  transition: transform 1.5s;
}
i:hover{
  color: orange;
  transform:rotate(360deg);
 cursor: pointer;
}
.photos img{
  width: 100px;
  height: 100px;
}

.box {
  position: relative;
}
.box img{
  filter: brightness(70%);
}
.kk{
  position: absolute;
  left: 25px;
  bottom: 20px;
}
.travel p,h4{
  color: white;
}
.box {
 transition: transform 1s ease ;
}
.box:hover{
  transform: translateY(-20px);
}
p,h1,h4{
  color: white;
}
.rounded-circle{
  transition: transform .9s ;
  overflow: hidden;
  margin-bottom: 10px !important;
}

.photos p:hover{
 color: orange;
transition: 0.5s;
cursor: pointer;
}
.rounded-circle:hover{
  transform: scale(1.1);
}
.btn{
  transition: transform 1s ease;
}
.btn:hover{
 transform:translateX(20px) ;
  background-color: transparent;
  color: white;
}
.txt{
  letter-spacing: 5px;
}
.ph{
  border-radius: 10px;
}
.ba{
  width: 30px;
  height: 30px;
  border: 50%;
}
.b{
  gap: 10px;
}
.nap{
  cursor: pointer;
}
input{
  height: 35px;
}
.o{
  transition: transform 1s ease;
}
.o:hover{
  transform: translateX(0px);
  background-color: transparent;
  color: white;
}

li a::after {
  content: '';
  width: 0%;
  height: 2px;
  margin: auto;
  display: block;
  background-color: tomato;
  transition: .5s;

}

li a:hover::after {
  width: 100%;

}
.j a:hover{
  text-decoration: underline;
}
